body {
  background-color: #ad42f4;
  font-family: 'B612 Mono', monospace;
}

@keyframes marquee {
  0%   { left: 100%; }
  100% { left: -100%; }
}

#marquee {
  margin-top: 100px;
}

#marquee h1 {
  color: #eeff00;
  display: inline-block;
  font-size: 4em;
  position: relative;
  text-align: center;
}

@media (min-width: 576px) {
  #marquee h1 {
    font-size: 4em;
  }
}

@media (min-width: 768px) {
  #marquee h1 {
    font-size: 5em;
  }
}

@media (min-width: 992px) {
  #marquee h1 {
    font-size: 5em;
    left: 100%;
    animation: marquee 15s linear infinite;
  }

  #marquee {
    width: 100%;
    height: 120px;
    position: fixed;
    top: 50%;
    left: 0;
    margin-top: -60px;
    overflow: hidden;
    white-space: nowrap;
  }
}

@media (min-width: 1200px) {
  #marquee h1 {
    font-size: 6em;
  }
}